<ul class="gallery">

  {{#each hits}}
  <li class="main-li">
    <div class="photo-card">
      <img class="image-item" src={{this.previewURL}} width="200" height="130" alt={{this.largeImageURL}} />
      <div class="stats">
        <p class="stats-item">
          <i class="material-icons">thumb_up</i>
          {{this.likes}}
        </p>
        <p class="stats-item">
          <i class="material-icons">visibility</i>
          {{this.views }}
        </p>
        <p class="stats-item">
          <i class="material-icons">comment</i>
          {{this.comments }}
        </p>
        <p class="stats-item">
          <i class="material-icons">cloud_download</i>
          {{this.downloads}}
        </p>
      </div>
    </div>

  </li>
  {{/each}}

</ul>